In [12]:
import pandas as pd

In [13]:

data =  [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], 
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], 
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'], 
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'], 
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [14]:
data

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [15]:
# mã hóa dữ liệu trên bộ data
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
data = pd.DataFrame(te_ary, columns=te.columns_)
data

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [16]:
# Sử dụng thư viện mlxtend cho giải thuật Apriori với min_support = 0.6
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data, min_support=0.6)
frequent_itemsets

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [17]:
# Chạy lại câu trên sử dụng thêm tính năng use_colnames=True
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Kidney Beans, Eggs)

In [18]:
# in ra kết quả trên với điều kiện mặt hàng có độ dài >=2
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets= frequent_itemsets[frequent_itemsets['length'] >= 2]
frequent_itemsets

    support                     itemsets  length
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Kidney Beans, Yogurt)       2
10      0.6  (Onion, Kidney Beans, Eggs)       3

In [19]:
# in ra kết quả trên với điều kiện mặt hàng có độ dài >=2 support >= 0.8
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets = frequent_itemsets[(frequent_itemsets['length'] >= 2) & (frequent_itemsets['support'] >= 0.8)]
frequent_itemsets

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_17696\1173378645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

# Câu 2

In [34]:

transactions = [
    {"Transaction ID": "T100", "List of Items": ["I11", "I12", "I15"]},
    {"Transaction ID": "T200", "List of Items": ["I12", "I14"]},
    {"Transaction ID": "T300", "List of Items": ["I12", "I13"]},
    {"Transaction ID": "T400", "List of Items": ["I11", "I12", "I14"]},
    {"Transaction ID": "T500", "List of Items": ["I11", "I13"]},
    {"Transaction ID": "T600", "List of Items": ["I12", "I13"]},
    {"Transaction ID": "T700", "List of Items": ["I11", "I13"]},
    {"Transaction ID": "T800", "List of Items": ["I11", "I12", "I13", "I15"]},
    {"Transaction ID": "T900", "List of Items": ["I11", "I12", "I13"]}
]

df = pd.DataFrame(transactions)

df

  Transaction ID         List of Items
0           T100       [I11, I12, I15]
1           T200            [I12, I14]
2           T300            [I12, I13]
3           T400       [I11, I12, I14]
4           T500            [I11, I13]
5           T600            [I12, I13]
6           T700            [I11, I13]
7           T800  [I11, I12, I13, I15]
8           T900       [I11, I12, I13]

In [35]:
# mã hóa dữ liệu từ bộ df
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(df['List of Items']).transform(df['List of Items'])
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     I11    I12    I13    I14    I15
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [36]:
# Sử dụng thư viện mlxtend cho giải thuật FPgrowth với min_support = 0.6
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets = fpgrowth(df, min_support=0.6)
frequent_itemsets

    support itemsets
0  0.777778      (1)
1  0.666667      (0)
2  0.666667      (2)

In [37]:
frequent_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support itemsets
0  0.777778    (I12)
1  0.666667    (I11)
2  0.666667    (I13)

In [38]:
#  in ra các kết quả với điều kiện mặt hàng có  chữ 2 ký tự cuối có giá trị >= 13

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets = frequent_itemsets[frequent_itemsets['itemsets'].apply(lambda x: any(i[-2:] == '13' for i in x))]
frequent_itemsets

    support itemsets  length
2  0.666667    (I13)       1

# bài 3

In [14]:
import chardet
import pandas as pd
rawdata = open('plants.csv', 'rb').read()
result = chardet.detect(rawdata)
encoding = result['encoding']

plants = pd.read_csv('plants.csv', encoding=encoding)

In [15]:
print(plants.columns)

Index(['name', 'co', 'dengl', 'ca', 'ga', 'ct', 'pr', 'lb', 'tx', 'la', 'tn',
       'pa', 'pe', 'mn', 'de', 'dc', 'hi', 'yt', 'me', 'md', 'ma', 'mb', 'ut',
       'mo', 'fraspm', 'mi', 'nu', 'mt', 'qc', 'ms', 'va', 'ab', 'vi', 'ak',
       'al', 'ar', 'vt', 'il', 'in', 'ia', 'az', 'id', 'nh', 'ks', 'nj', 'nm',
       'nb', 'nc', 'nd', 'ne', 'nf', 'ny', 'ns', 'nt', 'ri', 'nv', 'wa', 'bc',
       'wi', 'wv', 'fl', 'wy', 'on', 'ok', 'oh', 'sk', 'sc', 'ky', 'or', 'sd'],
      dtype='object')

In [16]:
# in tổng số các loài cây
print(plants['name'].nunique())

34781

In [17]:
# số lượng vùng phân bố
num_regions = len(plants.columns) - 1
print(num_regions)

69

In [20]:
# Define a mapping from string values to integers
mapping = {'n': 0, 'y': 1}

# Define the regions
regions = plants.columns[1:]

# Apply the mapping to the DataFrame
plants[regions] = plants[regions].replace(mapping)

# Find the region with the least number of plant species
min_species_region = plants[regions].sum().idxmin()

print(min_species_region)

pa

In [21]:
# vùng phân bố có nhiều loài cây nhất
max_species_region = plants[regions].sum().idxmax()
print(max_species_region)

ca

In [22]:
# Số loài cây trung bình phân bố trên từng vùng 
regions = plants.columns[1:]
avg_species_per_region = plants[regions].sum(axis=0).mean()
avg_species_per_region

4346.869565217391

In [25]:
plants_encoded = plants.applymap(lambda x: True if x == 'y' else False)
plants_encoded.to_csv("plants_encoded.csv", index=False)
print(plants_encoded.columns)

Index(['name', 'co', 'dengl', 'ca', 'ga', 'ct', 'pr', 'lb', 'tx', 'la', 'tn',
       'pa', 'pe', 'mn', 'de', 'dc', 'hi', 'yt', 'me', 'md', 'ma', 'mb', 'ut',
       'mo', 'fraspm', 'mi', 'nu', 'mt', 'qc', 'ms', 'va', 'ab', 'vi', 'ak',
       'al', 'ar', 'vt', 'il', 'in', 'ia', 'az', 'id', 'nh', 'ks', 'nj', 'nm',
       'nb', 'nc', 'nd', 'ne', 'nf', 'ny', 'ns', 'nt', 'ri', 'nv', 'wa', 'bc',
       'wi', 'wv', 'fl', 'wy', 'on', 'ok', 'oh', 'sk', 'sc', 'ky', 'or', 'sd'],
      dtype='object')